<!-- main-->
<div id="main">
  <div class="container">
    <div id="main-header">
      <h1><strong>Personal Chef at your Doorstep</strong></h1>
      <h4>Find and book local chefs and have them cook for you</h4>
    </div>
  </div>
</div>
<!-- main -->
<!--Explanation -->
<div class="container">
  <div id="explanation">
    <h3>Nation's largest network of personal chefs</h3>
    <div class="main-description">
      <h5>How does it work?</h5>
    </div>
    <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-4">
        <div class="main-thumbnail">
          <img src="/images/chef1.png" alt="..." class="img-responsive">
          <div class="caption">
            <h4>Register as a Chef/User</h4>
            <div class="main-description">
              <p> Register as a chef, tell the world what your specialties are, availability and link up with hungry customers.</p>
            </div>
            <p><a href="c-signup" class="btn btn-default" role="button">Register</a></p>
          </div>
        </div>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4">
        <div class="main-thumbnail">
          <img src="/images/chef2.png" alt="..." class="img-responsive">
          <div class="caption">
            <h4>Find Chefs/Users Near Your Area</h4>
            <div class="main-description">
              <p>Find chefs willing and able to provide service in a given area.</p>
            </div>
            <p><a href="#" class="btn btn-default" role="button">Search</a></p>
          </div>
        </div>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4">
        <div class="main-thumbnail">
          <img src="/images/chef3.png" alt="..." class="img-responsive"vbar>
          <div class="caption">
            <h4>Connect and Negotiate Price</h4>
            <div class="main-description">
              <p> Agree on the menu, who's providing what resources and price, then prepare to meet your chef!</p>
            </div>
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Explanation -->
<!--easy-access-->
<div class="easy-access">
  <div class="row">
    <a id="left-easy" class="col-xs-6 col-sm-6 col-md-6" href="/chef/search">
      <h1>I'm Hungry Let's Eat!</h1>
    </a>
    <a id="right-easy"class="col-xs-6 col-sm-6 col-md-6" href="/chef/signup">
      <h1>Let's Get Cooking!</h1>
    </a>
  </div>
</div>
<!--easy-access-->
<!-- Footer -->
  <footer>
      <div class="footer">
          <div class="row">
              <div class="col-lg-10 col-lg-offset-1 text-center">
                  <h3><strong>House Chef</strong></h4>
                  <p>12-12 123nd Street
                      <br>Flushing, NY 11358</p>
                  <ul class="list-unstyled">
                      <li><i class="fa fa-phone fa-fw"></i> (123) 123-1234</li>
                      <li><i class="fa fa-fax fa-fw"></i> (123) 321-1234</li>
                      <li><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:housechef@gmail.com">housechef@gmail.com</a>
                      </li>
                  </ul>
                  <br>
                  <ul class="list-inline">
                      <li>
                          <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                      </li>
                      <li>
                          <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                      </li>
                      <li>
                          <a href="#"><i class="fa fa-instagram fa-fw fa-3x"></i></a>
                      </li>
                  </ul>
                  <hr class="small">
                  <p class="text-muted">Copyright &copy; 2017 House Chef</p>
              </div>
          </div>
      </div>
  </footer>
<!-- Footer -->
